<div class="form-group">
  <div><span>title = {{todoUpper.title}} </span><span>id = {{todoUpper.id}}</span></div>
  <input type="text" [(ngModel)]="todo.title">
  <button type="button" class="btn btn-primary" (click)='Cleaning()'>Очистить</button>
  <button type="button" class="btn btn-primary" (click)='Cancel()'>Отменить</button>
  <button type="button" class="btn btn-primary" (click)='Close()'>Закрыть</button>
</div>
<br>

<button type="button" class="btn btn-primary" [disabled]="!todo.title || todo.title==todoUpper.title" (click)='onAdd()'>Сохранить</button>
<!--Кнопка "сохранить" задизейблена при следующих случаях: ИЛИ поле инпута пустое, ИЛИ поле инпута совпадает с заголовком, т.е. пользователь не вносил никаких изменений-->
