<div>
  <h4>
    Этот текст написан в компоненте first-component.component, которая находится в папке first-module</h4>
  <button type="button" class="btn btn-primary" (click)="addButtonFunction()" *ngIf="addButtonToggle">Добавить</button>
  <app-todo-edit [todo]='activeItem' [todoUpper]='activeUpperItem' (onUpdate)='onAdd($event)' (onClear)='cleaning() ' (onCancel)='onCancelItem($event)'
    (onClose)='closeButtonFunction($event)' *ngIf="editFormToggle"></app-todo-edit>
  <app-todos-list [todos]="todosList" [todoEdit]="activeItem" (edit)='onEditItem($event)' (delete)='onDeleteItem($event)'>
  </app-todos-list>
</div>
