/*.componentPadding {
  padding-left: 2rem;
  > .gg { color: green}
  > .gg2 {color: red}
  & .test {  border-style: solid;
    border-width: 1px;}
 @extend .ggwp
}
.ggwp {
  //border-style: solid;
border-style: solid;
 border-width: 1px;
}*/
