<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<div class='componentPadding test'>
  <div class='gg'>
    Этот текст написан в компоненте first-component.component, которая находится в папке first-module
  </div>
  <button type="button" class="btn btn-primary" (click)="addButtonFunction()" *ngIf="addButtonToggle">Добавить</button>
  <!-- на конпке стоит условия скрытия после нажатия. логика описана в ts-->
  <app-todo-edit [todo]='activeItem' [todoUpper]='activeUpperItem' (onUpdate)='onAdd($event)' (onClear)='cleaning() ' (onCancel)='onCancelItem($event)'
    (onClose)='closeButtonFunction($event)' *ngIf="editFormToggle"></app-todo-edit>
  <!--форма не работет, пока ты не нажал кнопку"добавить". Логика описана в ts-->
  <app-todos-list [todos]="todosList" [todoEdit]="activeItem" (edit)='onEditItem($event)' (delete)='onDeleteItem($event)'>
  </app-todos-list>
  <div class='row'>
    <div class="col-md-8">.col-md-8</div>
		<div class="col-md-4">.col-md-4</div>
  </div>
</div>
